.genially-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 40px;
  margin-top: 40px;
}

.genially-card {
  width: 100%;
}


.page__hero {
  position: relative;
}

.page__hero::after {
  content: "";
  position: absolute;
  right: 60px;
  bottom: 40px;
  width: 160px;
  height: 160px;
  background-image: url('/assets/images/logoblanc.png');
  background-size: contain;
  background-repeat: no-repeat;
}
