---
# Layout qui étend le thème Minimal Mistakes
---

{% extends "home" %}

{% block content %}
  {{ content }}

  <!-- Grille Genially -->
  <div class="home-genially-wrapper">
    <div class="home-genially-grid">
      {% for item in site.genially %}
        <a class="home-card" href="{{ item.genially_url }}" target="_blank">
          <img src="{{ item.image }}" alt="{{ item.title }}">
          <div class="home-card-overlay">{{ item.title }}</div>
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
